In [1]:
#import liabraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#import dataset
ds=pd.read_csv("raw_messy_dataset.csv")
ds.head(10)

,Name,Age,Gender,Email,Join_Date,Salary,Department
0,Alice,NaN,NaN,user0@example.com,2021-05-21,NaN,Admin
1,Bob,40,M,user1@example.com,NaN,50000,Engineering
2,Charlie,unknown,Male,user2@example.com,2020/01/01,50000,HR
3,David,NaN,NaN,user3@example.com,2021-05-21,70000,Admin
4,Eva,35,Other,user4@example.com,"July 4, 2020",70000,Engineering
5,Frank,unknown,Other,user5@example.com,NaN,70000,Admin
6,Grace,unknown,Female,user6@example.com,"July 4, 2020",80000,Engineering
7,Hannah,NaN,Other,user7@example.com,2021-05-21,NaN,HR
8,Ivy,30,Female,user8@example.com,NaN,50000,Engineering
9,Jack,35,Male,user9@example.com,2020/01/01,80000,Engineering

In [3]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        105 non-null    object
 1   Age         72 non-null     object
 2   Gender      89 non-null     object
 3   Email       95 non-null     object
 4   Join_Date   70 non-null     object
 5   Salary      78 non-null     object
 6   Department  89 non-null     object
dtypes: object(7)
memory usage: 5.9+ KB

In [4]:
ds.describe()

         Name Age Gender              Email   Join_Date Salary   Department
count     105  72     89                 95          70     78           89
unique     10   5      5                 90           4      5            5
top     Alice  40   Male  user0@example.com  2021-05-21  50000  Engineering
freq       11  22     22                  2          26     22           26

In [8]:
#remove duplicates
ds.drop_duplicates(inplace=True)

In [10]:
#to get headers of column
ds.columns

Index(['Name', 'Age', 'Gender', 'Email', 'Join_Date', 'Salary', 'Department'], dtype='object')

In [12]:
#handling age
ds["Age"]=pd.to_numeric(ds["Age"], errors='coerce')

In [17]:
ds["Age"].unique()

array([35., 40., 30., 25.])

In [21]:
x=ds["Age"].median()
ds["Age"].fillna(x, inplace=True)
ds["Gender"].unique()

C:\Users\Admin\AppData\Local\Temp\ipykernel_4352\1241676936.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ds["Age"].fillna(x, inplace=True)

array([nan, 'M', 'Male', 'Other', 'Female', 'F'], dtype=object)

In [27]:
#staderdized gender
ds["Gender"]=ds["Gender"].replace({
    "M":"Male", "F":"Female", "":"None"
})
ds.columns

Index(['Name', 'Age', 'Gender', 'Email', 'Join_Date', 'Salary', 'Department'], dtype='object')

In [28]:
#handling email column
ds["Email"].fillna("_", inplace=True)
print(ds.to_string())

       Name   Age                                                                                                                                                                                                                     Gender               Email     Join_Date   Salary   Department
0     Alice  35.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>   user0@example.com    2021-05-21      NaN        Admin
1       Bob  40.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>   user1@example.com           NaN    50000  Engineering
2   Charlie  35.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>   user2@example.com    2020/01/01    50000           HR
3     David  35.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>   user3@example.com    2021-05-21    70000        Admin
4       Eva  35.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>   user4@example.com  July 4, 2020    70000  Engineering
5     Frank  35.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>   user5@example.com           NaN    70000        Admin
6     Grace  35.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>   user6@example.com  July 4, 2020    80000  Engineering
7    Hannah  35.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>   user7@example.com    2021-05-21      NaN           HR
8       Ivy  30.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>   user8@example.com           NaN    50000  Engineering
9      Jack  35.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>   user9@example.com    2020/01/01    80000  Engineering
10    Alice  35.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user10@example.com    2021-05-21    70000  Engineering
11      Bob  35.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user11@example.com  July 4, 2020    50000        Sales
12  Charlie  35.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user12@example.com    22-06-2022    80000        Sales
13    David  35.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user13@example.com           NaN      NaN        Sales
14      Eva  40.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user14@example.com  July 4, 2020    80000           HR
15    Frank  35.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user15@example.com           NaN      NaN        Admin
16    Grace  35.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user16@example.com    2021-05-21    70000          NaN
17   Hannah  35.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user17@example.com           NaN      NaN  Engineering
18      Ivy  30.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user18@example.com    2021-05-21    50000  Engineering
19     Jack  40.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user19@example.com           NaN    70000           HR
20    Alice  35.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user20@example.com    2021-05-21    50000  Engineering
21      Bob  35.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user21@example.com    22-06-2022  unknown        Sales
22  Charlie  30.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user22@example.com           NaN    60000          NaN
23    David  40.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user23@example.com           NaN      NaN    Marketing
24      Eva  35.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user24@example.com           NaN    60000  Engineering
25    Frank  25.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user25@example.com    22-06-2022    60000        Sales
26    Grace  40.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user26@example.com  July 4, 2020      NaN    Marketing
27   Hannah  30.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user27@example.com    2021-05-21    70000          NaN
28      Ivy  35.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user28@example.com    2020/01/01  unknown    Marketing
29     Jack  35.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user29@example.com    2021-05-21    50000        Sales
30    Alice  40.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user30@example.com    2021-05-21    80000        Admin
31      Bob  25.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user31@example.com  July 4, 2020    50000        Admin
32  Charlie  25.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user32@example.com    2021-05-21    80000    Marketing
33    David  35.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user33@example.com    22-06-2022    50000           HR
34      Eva  35.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user34@example.com    22-06-2022      NaN    Marketing
35    Frank  35.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user35@example.com           NaN  unknown  Engineering
36    Grace  30.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user36@example.com           NaN    80000  Engineering
37   Hannah  40.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user37@example.com    2020/01/01      NaN        Admin
38      Ivy  40.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user38@example.com    2021-05-21    70000           HR
39     Jack  35.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user39@example.com    2021-05-21    50000        Sales
40    Alice  35.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user40@example.com  July 4, 2020    50000  Engineering
41      Bob  35.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user41@example.com           NaN    80000        Admin
42  Charlie  35.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user42@example.com    22-06-2022    70000          NaN
43    David  35.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user43@example.com    2020/01/01    70000        Admin
44      Eva  35.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user44@example.com           NaN      NaN  Engineering
45    Frank  40.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user45@example.com    22-06-2022      NaN  Engineering
46    Grace  35.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user46@example.com           NaN      NaN        Admin
47   Hannah  40.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user47@example.com           NaN      NaN        Sales
48      Ivy  25.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user48@example.com  July 4, 2020      NaN    Marketing
49     Jack  35.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user49@example.com  July 4, 2020      NaN  Engineering
50    Alice  35.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user50@example.com    2021-05-21      NaN        Admin
51      Bob  35.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user51@example.com           NaN  unknown        Admin
52  Charlie  35.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user52@example.com    2020/01/01    70000           HR
53    David  35.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user53@example.com           NaN      NaN    Marketing
54      Eva  25.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user54@example.com    22-06-2022    70000          NaN
55    Frank  35.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user55@example.com           NaN    70000        Sales
56    Grace  30.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user56@example.com           NaN    60000          NaN
57   Hannah  40.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user57@example.com  July 4, 2020  unknown    Marketing
58      Ivy  25.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user58@example.com    2021-05-21      NaN    Marketing
59     Jack  40.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user59@example.com    2021-05-21    50000    Marketing
60    Alice  35.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user60@example.com           NaN    80000          NaN
61      Bob  30.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user61@example.com  July 4, 2020      NaN    Marketing
62  Charlie  30.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user62@example.com           NaN    50000        Admin
63    David  25.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user63@example.com    2020/01/01  unknown          NaN
64      Eva  30.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user64@example.com  July 4, 2020    80000    Marketing
65    Frank  35.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user65@example.com           NaN  unknown        Admin
66    Grace  30.0  <bound method NDFrame.replace of 0       NaN\n1         M\n2      Male\n3       NaN\n4     Other\n      ...  \n95     Male\n96     Male\n97     Male\n98        F\n99      NaN\nName: Gender, Length: 100, dtype: object>  user66@example.com           NaN    70000           HR

C:\Users\Admin\AppData\Local\Temp\ipykernel_4352\2120187321.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ds["Email"].fillna("_", inplace=True)

In [29]:
#handling date column
ds["Join_Date"]=pd.to_numeric(ds["Join_Date"], errors='coerce')

In [31]:
#handling salary column
ds["Salary"]=pd.to_numeric(ds["Salary"], errors='coerce')
ds["Department"].unique()

array(['Admin', 'Engineering', 'HR', 'Sales', nan, 'Marketing'],
      dtype=object)

In [38]:
y=ds["Department"].mode()[0]
ds["Department"].fillna(y, inplace=True)

In [40]:
#save data into new file
ds.to_csv("cleaned_data")