In [4]:
import pandas as pd

In [7]:
#sample data
data = {
    
    'CustomerID' : ['C001', 'C002', 'C003', 'C004', 'C005'],
    'Education_level' : ['High School', 'Bachelors', 'Master', 'phD','Bachelors'],
    'Product_Quality' : ['low', 'medium', 'High', 'medium','low'],
    'Satisfaction_level' : ['Poor', 'Average', 'Excellent', 'Good','poor']
}


df=pd.DataFrame(data)

In [9]:
df

  CustomerID Education_level Product_Quality Satisfaction_level
0       C001     High School             low               Poor
1       C002       Bachelors          medium            Average
2       C003          Master            High          Excellent
3       C004             phD          medium               Good
4       C005       Bachelors             low              poors

In [10]:
#Define the order for each ordinal feature
education_order=['High School', 'Bachelors', 'Master', 'phD']
product_quality_order=['Low', 'medium', 'High']
satisfaction_order=['Poor','Average', 'Good', 'Excellent']

In [11]:
from sklearn.preprocessing import OrdinalEncoder

In [7]:
encoder=OrdinalEncoder(categories=[education_order, product_quality_order, satisfaction_order])

In [ ]:
#Apply encoding
df[['Education_level', 'Product_Quality', 'Satisfaction_level']]=encoder.fit_transform(
df[['Edicatopn_level', 'Product_Quality', 'Satisfaction_level']]
)

In [14]:
df

  CustomerID Education_level Product_Quality Satisfaction_level
0       C001     High School             low               Poor
1       C002       Bachelors          medium            Average
2       C003          Master            High          Excellent
3       C004             phD          medium               Good
4       C005       Bachelors             low              poors